@page
@model MadOrderingssystem.Pages.Login.log_inModel
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <form class="form-group">
        <label class="form-text">Email</label>
        <input class="form-control" asp-for="" />
        <label class="form-text">Email</label>
        <input class="form-control" asp-for=""/>
    </form>

</div>