
MadOrderingssystem/obj/MadOrderingssystem.csproj.nuget.dgspec.json
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.assets.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.CoreCompileInputs.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.FileListAbsolute.txt
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csprojAssemblyReference.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
MadOrderingssystem/obj/MadOrderingssystem.csproj.nuget.dgspec.json
MadOrderingssystem/obj/project.assets.json
MadOrderingssystem/obj/project.nuget.cache
MadOrderingssystem/.vs/MadOrderingssystem/DesignTimeBuild/.dtbcache.v2
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csprojAssemblyReference.cache
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.Views.dll
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.assets.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.CoreCompileInputs.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.FileListAbsolute.txt
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csprojAssemblyReference.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.RazorCoreGenerate.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.assets.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.CoreCompileInputs.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.FileListAbsolute.txt
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csprojAssemblyReference.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/DeleteUser.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/EditUser.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/Log_in.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/Log_registre.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/LoginList.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Login/Profil.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/AddAccessoryPage.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/AddMenuPage.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/AddPizzaPage.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/AddToppingsPage.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/DeletePage.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/EditAccessory.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/EditMenu.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/EditPizza.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/EditToppings.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/MainMenu.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/MenuPage/MenuTable.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/OrderPage/AddOrder.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/OrderPage/DeleteOrder.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/OrderPage/EditOrder.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/OrderPage/OrderList.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
