
MadOrderingssystem/obj/MadOrderingssystem.csproj.nuget.dgspec.json
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/bin/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.assets.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.CoreCompileInputs.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csproj.FileListAbsolute.txt
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.csprojAssemblyReference.cache
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.dll
MadOrderingssystem/obj/Debug/netcoreapp3.1/MadOrderingssystem.Views.pdb
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
MadOrderingssystem/obj/MadOrderingssystem.csproj.nuget.dgspec.json
MadOrderingssystem/obj/project.assets.json
MadOrderingssystem/obj/project.nuget.cache
