
MadOrderingssystem/obj/MadOrderingssystem.csproj.nuget.dgspec.json
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/config/applicationhost.config
MadOrderingssystem/.vs/MadOrderingssystem/v16/.suo
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
MadOrderingssystem/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
