@page
@using static MadOrderingssystem.Models.Product
@using MadOrderingssystem.Models
@using MadOrderingssystem.Data
@model MadOrderingssystem.Pages.Menu.MenuModel
@{
}
<div class="container">
    <h2 class="text-center">test</h2>
    <div class="border"></div>

    <h1>Menu</h1>


    <h4 style="color:blue"> List of Products</h4>
    <div class="card-deck">



        @foreach (Product product in MenuModel.dicC.Values)
        {

            //if (product.Id.ToLower().Contains(filter.ToLower()))
            //{
            //    dicC.Add(product.Id, product);
            //}

            <div class="card m-3" style="min-width: 18rem; max-width:30.5%; height:100%">
                <div class="card-header">
                    <p>id: @product.Id.</p>-->
                    <p>Name:@product.ProductName</p>
                </div>
           </div>

         }


        </div>




        <div class="card-footer text-center">
            <a href="#" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>

