/* Style for the background*/
#Backgound {
    background-image: url("/img/backgound.jpg");
    background-size: cover;
    padding: 18%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    opacity: 0.85;
}

/* Style the h1 line*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

#Mellemrum {
    padding:0.5rem;
    border-bottom:1px groove black;
}

#Picture1 {
    border-radius: 3px; 
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: auto;
}

.btn-outline-success {
    padding: 12px 50px;
    font-size: 20px;
}

/* Style the body*/
body {
   
}


