<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MadOrderingssystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MadOrderingssystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MenuPage/AddPage">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MenuPage/MenuTable">Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MenuPage/MainMenu">Menu</a>
                        </li>
                        <li id="dropdownmenu" class="btn-group">
                            <button type="button" class="btn btn-light" href="/MenuPage/EditMenu">Kontrol Panel</button>
                            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/MenuPage/AddPizzaPage">Tilføj Pizza</a>
                                <a class="dropdown-item" href="/MenuPage/AddAccessoryPage">Tilføj Tilbehør</a>
                                <a class="dropdown-item" href="/MenuPage/AddMenu">Tilføj Menu</a>
                                <a class="dropdown-item" href="/MenuPage/EditMenu">Ændr Menu</a>
                                <a class="dropdown-item" href="/MenuPage/AddMenu">Tilføj Menu</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/OrderPage/AddOrder">Tilføj ordre</a>
                                <a class="dropdown-item" href="/OrderPage/EditOrder">Ændr ordre</a>
                                <a class="dropdown-item" href="/OrderPage/DeleteOrder">Slet ordre</a>
                                <a class="dropdown-item" href="/OrderPage/AddOrder">Se ordreliste</a>
                        <li id="dropdownmenu" class="btn-group">
                            <button type="button" class="btn btn-light" href="/Login/log_in">Login</button>
                            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Login/log_in">Login</a>
                                <a class="dropdown-item" href="/Login/Profil">Profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Login/Log_registre">Opret bruger</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3r">
            @RenderBody()
        </main>
    </div>

    
    <footer class="container border-top text-muted">
        <div class="row">
            <div class="col-sm">
                <h5>Copyright</h5>
                &copy; 2012 Big Mamma Gastronomia. All rights reserved.
            </div>
            <div class="col-sm">
                <h5>Kontakt</h5>
                <p>
                    Tlf. 40124003<br />

                    Mail. BigMammaAtMail.dk
                </p>
            </div>
            <div class="col-sm">
                <h5>Åbningstider</h5>
                <p>
                    Frederiksværksgade 4 - 3400 Hillerød<br />
                    Mandag lukket <br />
                    Tirsdag - Fredag 11:00-21.00 <br />
                    Lørdag - Søndag 12:00-21:00
                </p>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
