@page "{id}"
@model MadOrderingssystem.Pages.OrderPage.EditOrderModel
@{
    ViewData["Title"] = "Redigere order";
    @using MadOrderingssystem.Models;
}

<div class="container">
    <form class="form-group" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label class="form-text">Produkter</label>
        @for (int i = 0; i < Model.Order.products.Count(); i++)
        {
            <p>@Model.Order.products[i].ProductName</p>
            <input type="checkbox" asp-for="@Model.Order.products[i].IsSelsected" class="form-control" />
        }

        <input type="hidden" asp-for="@Model.Order.ID" />
        <input type="hidden" asp-for="@Model.Order.TotalPrice" />

        <input type="submit" class="btn btn-success float-right" value="Redigere order" placeholder="Edit" style="padding:1rem;" />
    </form>
    <div>
        <a asp-page="OrderList">Tilbage til order listen</a>
    </div>

</div>