@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<body>
    <div id="Backgound">
        <h1> Big Mamma Gastronomia </h1>
    </div>
</body>
