@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>


    <div id="Backgound" class="text-center">
        <h1>Big Mamma Gastronomia</h1>
        <button class="btn-outline-success">Online Bestilling</button>
    </div>

    <div class="container">
        <div id="Mellemrum" class="justify-content-center"></div>

        <div class="row" style="padding-top:0.5rem;">
            <div class="col-sm">
                <p>Lidt om firmaet</p>
            </div>
            <div class="col-sm">
                <img src="~/img/mad1.jpg" id="Picture1" />
            </div>
        </div>
        <div id="Mellemrum" class="justify-content-center"></div>
        <div class="row" style="padding-top:0.5rem;">
            <div class="col-sm">
                <img src="~/img/mad5.jpg" id="Picture1" />
            </div>
            <div class="col-sm">
                <p>mere om firmaet</p>
            </div>
        </div>
        <div id="Mellemrum" class="justify-content-center"></div>
    </div>




